.border {
  border: 0.5px solid white;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.invert {
  filter: invert(1);
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-grey {
  background-color: #121212;
}

.rounded {
  border-radius: 7px;
}

.m-1 {
  margin: 5px;
}

.p-1 {
  padding: 10px;
}

.titleText {
  padding-top: 5px;
  font-size: 15px;
  font-weight: 500;
}

.songText {
  padding-top: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #b3b3b3;
}

.songImg {
  border-radius: 5px;
  width: auto;
  object-fit: cover;
  height: 150px;
}

.gap-sm{
  gap: 8px;
}

.gap-md{
  gap: 12px;
}
.gap-lg{
  gap: 16px;
}

.w-30{
  width: 30%;
}
.w-40{
  width: 40%;
}

.flex-col{
  flex-direction: column;
}

.justify-between{
  justify-content: space-between;
}

.justify-end{
  justify-content: flex-end;
}

.fixed{
  position: fixed;
}

.cursor-pointer{
  cursor: pointer;
}