@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", Helvetica, Arial,
    "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic",
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.left {
  width: 25vw;
}

.right {
  width: 75vw;
  padding: 10px;
}

.home ul li {
  padding-top: 14px;
  gap: 15px;
  display: flex;
  list-style: none;
  width: 18px;
  font-weight: bold;
}

.library {
  min-height: 72vh;
  position: relative;
}

.heading img {
  width: 16px;
}

.heading {
  padding-top: 14px;
  gap: 10px;
  display: flex;
  width: 100%;
  font-weight: bold;
  align-items: center;
  font-size: 12px;
}
.footer {
  display: flex;
  position: absolute;
  bottom: 0;
}

.left footer ul li {
  font-family: CircularSp, sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #b3b3b3;
  padding: 8px 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
  list-style: none;
}

.header {
  border-radius: 8px;
  background-color: rgb(34, 34, 34);
  color: #656565;
  display: flex;
  justify-content: space-between;
}
.header > * {
  padding: 20px;
}
.nav {
  display: flex;
}

.container {
  gap: 8px;
  padding: 8px;
  height: 100vh;
}

.trendingSongs {
  padding: 16px;
}

.card {
  padding: 16px;
  margin: 3px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #333333;
}

.card:hover {
  background-color: #656565;
}

.cardContainer {
  padding-top: 5px;
  justify-content: space-between;
  display: flex;
}

.image-container {
  /* Position relative isliye taaki image ke upar play button ko absolute position se center me rakh sake. Inline-block isliye taaki image apni natural width le aur side by side align ho sake. */
  position: relative;
  display: inline-block;
}

.play-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  background-color: #1db954;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.1s ease;
  box-shadow: 0 8px 8px rgba(0,0,0,0.3);
}

.play-button img{
    width: 20px;
    height: 20px;
}

.image-container:hover .play-button{
    opacity: 1;
    transform: scale(1.05);
}

.play-button:hover{
    
    transform: scale(1.1);
    background-color: #11d857;
}